html,
body {
    height: 100vh;
}

.progress__bar {
    margin: 0.3em 0 0 0 !important;
}

.color__container {
    position: relative;
    overflow: hidden;
    width: 35px;
    border-radius: 3px;
}

.color__overlay {
    width: 85px;
    height: 35px;
    transform: rotate(225deg);
}

/* typing */

.user__typing {
    font-style: italic;
    font-weight: bold;
    margin-right: 3px;
}

.typing {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #e6e6e6;
    border-radius: 20px;
}

.typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
}

.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

/* skeleton.js */

.skeleton {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}

.skeleton::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s infinite;
    background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.4), transparent);
}

@keyframes sweep {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skeleton__avatar {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
    background-color: rgba(58, 57, 57, 0.3);
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 0;
}

.skeleton__details {
    background-color: rgba(58, 57, 57, 0.3);
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 20px;
}

.app {
    &__container--outer {
        background-color: #d0daf7d2;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    &__container--inner {
        width: 90%;
        height: 96%;
        background-color: #2155bf;
        border-radius: 3rem;
        padding: 2rem 0rem;
        padding-right: 2rem;
        overflow: hidden;
        display: flex;
    }
    &__icon--rocket {
        padding-left: 1rem;
    }
    &__icons {
        width: 7%;
        color: white;
        i::before {
            font-size: 4rem;
            padding-left: 1rem;
        }
    }
    &__icons--group {
        width: 30%;
        margin-top: 5.5rem;
        div {
            transition: all 6s;
            a {
                margin-bottom: 0rem !important;
            }
            a:hover {
                border-left: 5.7px solid white !important;
            }
            .active {
                border-left: 5.7px solid white !important;
            }
        }
    }
    &__icon--small {
        padding: 1rem 0rem;
        i::before {
            font-size: 2rem;
        }
    }

    &__chat {
        border-radius: 2rem;
        width: 100%;
        margin: -1rem 0rem;
        display: flex;
        background-color: #e4e9f5;
        padding: 1.5rem;
    }
    &__messageArea {
        width: 70%;
        margin: 1rem 2rem;
        background-color: inherit;
    }
}
.info__icon {
    margin-top: 1rem !important;
    width: 4rem !important;
    height: 3rem !important;
    margin-left: -2rem !important;
    padding-right: 2px;
}

.info__icon::before {
    font-size: 2rem;
}
